@if(is_logout == false){
    <mat-card class="p-2 m-2 shadow border">
        <mat-card-header class="p-1">
            <mat-card-title>Notifications</mat-card-title>
            <mat-card-subtitle>1 nouveau message non lu(s)</mat-card-subtitle>
            <mat-divider></mat-divider>
        </mat-card-header>
        <mat-card-content class="p-2">
            <div>
                tests
            </div>
        </mat-card-content>
    </mat-card>
}@else{
    <div class="text-center px-0 mat__custumer__container__bg" style="height: auto !important" >
        <mat-divider></mat-divider>
        <div class="text-center py-2 px-3">
            <h2 class="text-uppercase mb-0 fw-bolder">
                <span class="text-danger uil uil-bell fs-1"></span>
            </h2>
            <h2 class="text-uppercase mb-0 fw-bolder text-danger">
                Attention!
            </h2>
        </div>
        <mat-divider></mat-divider>
    </div>

    <div mat-dialog-content>
        <p class="text-center">Êtes-vous sûr de vouloir vous déconnecter ? Cette action est immédiate.</p>
    </div>
    <div mat-dialog-actions class="d-flex justify-content-between">
        <button mat-raised-button color="default"(click)="close(false)">Annuler</button>
        <button mat-raised-button color="warn"(click)="close(true)">Oui, déconnecter</button>
    </div>
}
