<div class="text-end mat__custumer__container__bg">
    <button class="mat__btn__closing" mat-mini-fab (click)="close()" [color]="form_type == 'edit'?'warn':'primary'">
        <mat-icon>cancel</mat-icon>
    </button>
</div>
<div class="text-center px-0 mat__custumer__container__bg" style="height: auto !important" >
    <mat-divider></mat-divider>
    <div class="text-center py-2 px-3">
        <h2 class="text-uppercase mb-0 fw-bolder text-dark">
            {{ form_type == 'add'?'Ajouter un évènement':'Modifier un évènement' }}
        </h2>
    </div>
    <mat-divider></mat-divider>
</div>

<div mat-dialog-content class="px-1 pt-0 mat__custumer__container__bg">
    <mat-card class="mat__custumer__card__bg">
        <mat-card-content>
            @if(form_type != 'details'){
                <form [formGroup]="forms">
                    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
                        <mat-tab label="First">
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon me-2">looks_one</mat-icon>
                                Informations
                            </ng-template>
                            <ng-container>
                                <div class="row justify-content-between mt-3">
                                    <div class="col-lg-12 col-12">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text__theme__dark__p">Entrer le titre de l'évènement</mat-label>
                                            <textarea style="height: 50px" matInput class="text__theme__dark__p" formControlName="title_event"></textarea>
                                            <mat-icon matSuffix>edit_note</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-12 col-12">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text__theme__dark__p">Entrer l'adresse de l'évènement</mat-label>
                                            <textarea style="height: 50px" matInput class="text__theme__dark__p" formControlName="address_event"></textarea>
                                            <mat-icon matSuffix>edit_note</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-12 col-12">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text__theme__dark__p">Entrer l'url de localisation googleMap</mat-label>
                                            <input class="text__theme__dark__p" formControlName="localisation_event" type="url" matInput placeholder="Entrer ici...">
                                            <mat-icon matSuffix>edit_note</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-12 col-12">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text__theme__dark__p">Entrer l'url de google Forms</mat-label>
                                            <input class="text__theme__dark__p" formControlName="google_meet_url" type="url" matInput placeholder="Entrer ici...">
                                            <mat-icon matSuffix>edit_note</mat-icon>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-12 col-12">
                                        <mat-form-field appearance="outline">
                                            <mat-label class="text__theme__dark__p">Seletionnez le type d'évènement</mat-label>
                                            <mat-select class="text__theme__dark__p" formControlName="type_event_id">
                                                <mat-option selected>Seletionnez le type d'évènement</mat-option>
                                                <mat-option *ngFor="let type_event of list_type_events" [value]="type_event.id">
                                                    {{ type_event.type_event }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-12 mb-3 text-center col-12">
                                        <mat-radio-group formControlName="status_enter_event"
                                            aria-label="Selectionner un statut d'entrée">
                                            <mat-radio-button mat-raised-button color="primary" [value]="true">Gratuit</mat-radio-button>
                                            <mat-radio-button mat-raised-button color="primary" [value]="false">Payant</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                    @if(forms.get('status_enter_event')?.value == 0){
                                        <div class="col-lg-12 col-12">
                                            <mat-form-field appearance="outline">
                                                <mat-label class="text__theme__dark__p">Entrer le montant d'entrée</mat-label>
                                                <input class="text__theme__dark__p" formControlName="price" type="number" matInput placeholder="Entrer ici...">
                                                <mat-icon matSuffix>edit_note</mat-icon>
                                            </mat-form-field>
                                        </div>
                                    }
                                </div>
                            </ng-container>
                        </mat-tab>
                        <mat-tab label="Second">
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon me-2">looks_two</mat-icon>
                                Illustration
                            </ng-template>
                            <ng-container>
                                <div class="row justify-content-center mt-3">
                                    <div (click)="file.click()" class="col-lg-4 col-6 d-flex justify-content-center flex-wrap"
                                    [style]="files">
                                        <input #file accept="image/*"  formControlName="illusration_event" (change)="onFileChange($event)" hidden class="text__theme__dark__p" type="file">
                                        <p [class]="imageUrl?'text-center text-white':'text-center'">
                                            <strong>
                                                {{ imageUrl?'Cliquez pour changer le logo':'Cliquez pour charger un logo' }}
                                            </strong>
                                            <code>(png/jpeg/jpg)<sup>*</sup></code>
                                        </p>
                                        <button type="button" class="shadow-none" mat-fab color="default">
                                            <mat-icon>file_upload</mat-icon>
                                        </button>
                                    </div>
                                    <div [class]="imageUrl?'col-lg-6 col-12':'col-lg-5 col-6'" *ngIf="forms.invalid">
                                        <p [class]="imageUrl?'text-center':'text-start'">
                                            <strong>NB</strong>:
                                            <code>Veuillez prendre soin de bien remplir tout les champs du formulaire s'ils vous plaît !</code>
                                        </p>
                                    </div>
                                </div>
                            </ng-container>
                        </mat-tab>
                        <mat-tab label="Third">
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon me-2">looks_3</mat-icon>
                                Programmer une période
                            </ng-template>
                            <ng-container>
                                <div class="row justify-content-between mt-2 mb-3">
                                    <div class="col-lg-6 col-12">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Choisissez la date de début</mat-label>
                                            <input formControlName="date_start_event" (click)="pickerStart.open()" matInput [matDatepicker]="pickerStart">
                                            <mat-datepicker-toggle matIconSuffix [for]="pickerStart"></mat-datepicker-toggle>
                                            <mat-datepicker #pickerStart></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Choisissez la date de fin</mat-label>
                                            <input formControlName="date_end_event" (click)="pickerEnd.open()" matInput [matDatepicker]="pickerEnd">
                                            <mat-datepicker-toggle matIconSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                                            <mat-datepicker #pickerEnd></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <!-- <mat-form-field appearance="outline"> -->
                                            <mat-label>Choisissez une heure de début</mat-label>
                                            <input matInput hidden [format]="24" formControlName="hours_start_event"
                                            [ngxMatTimepicker]="pickerFn" placeholder="00:00" readonly />
                                            <ngx-mat-timepicker-toggle></ngx-mat-timepicker-toggle>
                                        <!-- </mat-form-field> -->
                                        <button mat-raised-button (click)="pickerFn.open()" color="primary"
                                        class="ngx-mtp-margin-top ms-2 ngx-mtp-margin-bottom ngx-mtp-d-inline-block">
                                            Ouvrir l'horloge
                                        </button>
                                        <ngx-mat-timepicker color="accent" #pickerFn></ngx-mat-timepicker>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <!-- <mat-form-field appearance="outline"> -->
                                            <mat-label>Choisissez heure de fin</mat-label>
                                            <input matInput hidden [format]="24" formControlName="hours_end_event"
                                            [ngxMatTimepicker]="pickerFx" placeholder="00:00" readonly />
                                            <ngx-mat-timepicker-toggle></ngx-mat-timepicker-toggle>
                                        <!-- </mat-form-field> -->
                                        <button mat-raised-button (click)="pickerFx.open()" color="warn"
                                        class="ngx-mtp-margin-top ms-2 ngx-mtp-margin-bottom ngx-mtp-d-inline-block">
                                            Ouvrir l'horloge
                                        </button>
                                        <ngx-mat-timepicker color="accent" #pickerFx></ngx-mat-timepicker>
                                    </div>
                                </div>
                            </ng-container>
                        </mat-tab>
                        <mat-tab label="Four">
                            <ng-template mat-tab-label>
                                <mat-icon class="example-tab-icon me-2">looks_4</mat-icon>
                                Description
                            </ng-template>
                            <ng-container>
                                <div class="row justify-content-between mt-2 mb-3">
                                    <div class="col-lg-12 col-12">
                                        <div class="NgxEditor__Wrapper"
                                        [style]="forms.get('description_event')?.value == ''?'max-height: 100%; height: 400px':'max-height: auto; height: auto'">
                                            <ngx-editor-menu [toolbar]="toolbar"
                                            [colorPresets]="colorPresets" [editor]="editor"> </ngx-editor-menu>
                                            <ngx-editor [editor]="editor" formControlName="description_event"
                                                [placeholder]="'Entrer la description ici...'"
                                            ></ngx-editor>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </mat-tab>
                    </mat-tab-group>
                    <div class="text-center mt-3">
                        @if(form_type == 'add'){
                            <button (click)="addNewItem()" [disabled]="forms.invalid || !imageUrl" mat-fab extended color="primary">
                                <mat-icon>save</mat-icon>
                                Enregistrer
                            </button>
                        }@else{
                            <button (click)="editCurrentItem()" [disabled]="forms.invalid && !imageUrl" mat-fab extended color="primary">
                                <mat-icon>save</mat-icon>
                                Modifier
                            </button>
                        }
                    </div>
                </form>
            }
        </mat-card-content>
    </mat-card>
</div>
