
<div class="d-lg-flex position-relative h-100">
    <a class="circle bg-white text-primary border square--40 
        position-absolute top-0 end-0 mt-3 me-3" role="button" (click)="goToBack()"
        data-bs-toggle="tooltip" data-bs-placement="left" 
        aria-label="Back" data-bs-original-title="Back">
        <i class="fa-solid fa-reply"></i>
    </a>
    
    <!-- Signup Form -->
    <div class="d-flex flex-column align-items-center w-75 vh-100 px-4 px-md-5 py-5">
        <div class="w-100 mt-auto py-4 px-xl-4 px-lg-3">
            <div class="d-flex mb-3">
                <img src="assets/img/logo-info.png" class="img-fluid" width="120" alt="logo">
            </div>
            
            <h1 class="fs-1 text-uppercase">Mot de passe oublié ?</h1>
            <p class="pb-3 mb-3 mb-lg-4">
                Content de te revoir! Veuillez remplir le formulaire pour continuer.
            </p>
            <form class="frms-validation"> 
                <div class="row justify-content-start">

                    <div class="col-11">
                        <div class="position-relative mb-4 ">
                            <i class="fa-regular fa-envelope position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                            <input class="form-control lg ps-5" type="email" placeholder="Email address" required="">
                        </div>
                    </div>

                    <div class="col-11">
                        <div class="mt-2">
                            <button class="btn btn-lg btn-primary w-100" type="submit">S'enregistrer</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
     <div class="w-50 bg-cover bg-repeat-0 bg-position-center" 
    style="background-image: url('assets/img/blog-2.jpg');"></div>
</div>

